
/** Wrapper */
.wrapper { max-width: calc(1000px - (30px * 2)); }

/** Page content */
.page-content { padding: 0; flex: 1; }

/** Posts */
.post-img-container { }

.post-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: top;
}

.post-icon-container {
    font-size: 78px;
    margin-top: -60px;
    padding-bottom: 30px;
}

.post-icon {
    line-height: 1em;
}

.fa-tags {
    color: #828282;
}

.tag-link {
    margin: 0px 2.5px;
    padding: 3px 5px;
    border-radius: 5px;
}

.orange-tag {
    background-color: #e67e22;
}

.gray-tag {
    background-color: #95a5a6;
}

.yellow-tag {
    background-color: #f1c40f;
}

.red-tag {
    background-color: #e74c3c;
}

.green-tag {
    background-color: #1abc9c;
}

.purple-tag {
    background-color: #9b59b6;
}

.blue-tag {
    background-color: #2980b9;
}